<h2>Registrarse</h2>
<form action="/api/sessions/register" method="post">
  <input type="text" placeholder="ingrese su nombre" name="name" />
  <input type="text" placeholder="ingrese su apellido" name="lastName" />
  <input type="email" placeholder="ingrese su email" name="email" />
  <input type="password" placeholder="ingrese su contraseña" name="password" />
  <input type="nuber" placeholder="ingrese su edad" name="age" />
  <input type="submit" value="Registrarse" />
</form>
<p>Si ya estas registrado ingresa <a href="/login">aqui</a></p>
<p>Acceder con <a href="/api/sessions/github">Github</a></p>